//
//  SPX.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 07/12/14.
//  Copyright (c) 2014 Andrey Ilskiy. All rights reserved.
//

PRODUCT_NAME_PREFIX = EXMPL
ORGANIZATION_BUNDLE_IDENTIFIER_PREFIX = com.example

//Versioning
CURRENT_PROJECT_VERSION = 1


VERSION_INFO_PREFIX = 

//Packaging
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_BUNDLE_IDENTIFIER_PREFIX:lower).$(PROJECT_NAME:lower:rfc1034identifier).$(TARGET_NAME:lower:rfc1034identifier)
INFOPLIST_FILE = $(PROJECT_DIR)/$(TARGET_NAME)/Supporting Files/Info.plist

//Language

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_DIR)/$(TARGET_NAME)/Supporting Files/PrefixHeader.pch
